*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background: #eee;
    font-size: 2rem;
    font-family: sans-serif;
    padding: 8rem;
    overflow: hidden;
}

body::after, body::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation-name: away;
    animation-duration: 1s;
    transform-origin: right;
    animation-fill-mode: forwards;
}

body::after{
    background: pink;
}

body::before{
    background: purple;
    animation-delay: 0.2s;
}

.main{
    width: 100%;
}

.inputs{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8rem;
    margin-bottom: 5rem;
    flex-wrap: wrap;
}

.inputs > div{
    display: flex;
    align-items: center;
    width: 40rem;
}

.filter{
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
    -webkit-appearance: none;
    appearance: none;
    background: #eee;
    border-radius: 0.5rem;
    box-shadow: inset  0 0 0.5rem 0 rgba(0,0,0,0.2);
}

.filter:checked{
    background: pink;
}

.games{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.game{
    list-style: none;
    width: 25rem;
    height: 30rem;
    transition: 0.2s transform;
    flex-grow: 1;
}

.game:hover{
    transform: scale(1.1) translateY(-0.7rem);
    cursor: pointer;
}

.game img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes away{
    from{
        transform: scaleX(1);
    }
    to{
        transform: scaleX(0);
    }
}