*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card{
    height: 50rem;
    width: 40rem;
}

.card_figure{
    width: 100%;
    height: 30%;
}

.card_figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_body{
    height: 50%;
    width: 100%; 
}

.card_categories{
    display: flex;
    gap: 0.7rem;
}

.card_category{
    list-style: none;
    color: white;
    border-radius: 5rem;
    padding: 0.5rem 2rem;
}

.card_category--tarkov{
    background: #3BaCB6;
}

.card_category--new{
    background: #FFD24C;
}

.card_footer{
    height: 20%;
    width: 100%;
    background: green;
}

.card_footer img{
    width: 10%;
    height: 10%;
}